host: 127.0.0.1
port: 3000
tuneshine:
  baseUrl: http://tuneshine-6f34.local
  timeoutMs: 10000
  specCacheFilePath: cache/spec-v1_0_0.json
  apiVersion: v1_0_0
  apiVersions:
    v1_0_0:
      openApiPath: /openapi.json
      operationBasePath: ""
